<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./src/img/pokeball.ico" />
    <title>Pokedex</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://justingolden.me/pokemon-types-css/types.min.css">
    <link rel="stylesheet" href="./src/css/main.css">

</head>

<body>
    <div id="pokedex-app">
        <!-- HEADER -->
        <nav class="navbar navbar-light bg-light">
            <div class="d-flex justify-content-between text-center align-items-center">
                <div class="col-3">
                    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <svg viewBox="0 0 100 80" width="40" height="40">
                            <rect width="100" height="20" rx="8"></rect>
                            <rect y="30" width="100" height="20" rx="8"></rect>
                            <rect y="60" width="100" height="20" rx="8"></rect>
                        </svg>
                    </a>
                </div>
                <div class="col-6">
                    <a target="_blank" href="./easter-egg.html">
                        <img class="w-50" src="./src/img/pokedex.png">
                    </a>
                </div>
                <div class="col-3">
                    <div class="form-inline d-flex">
                        <div class="col-9">
                            <input class="form-control col-9" v-model="pokemonName" v-on:keyup.enter="searchPokemon()" placeholder="Search">
                        </div>
                        <button @click="searchPokemon()" class="btn btn-outline-success col-3">Search</button>
                    </div>
                </div>
            </div>
        </nav>

        <div v-if="pokedexLoading" class="w-100 mt-5 text-center">
            <div class="spinner-border" role="status"></div>
        </div>

        <div v-if="!pokedexLoading">
            <div id="pokedex">

                <!-- NO FILTER -->
                <div class="pokemon-content" v-if="filter == 'none' || filter == 'region'">
                    <div v-if="filter == 'region'" class="info-card w-25">
                        Regio: {{ regionData.name }}. <br/> Discription: {{ regionDescription }}. <br/> Active Games:
                        <span v-for="(game, index) in regionData.version_groups" v-bind:key="index"> {{ game.name }}, </span> <br> Seen in Anime: {{ regionData.is_main_series }}. <br/>
                    </div>
                    <div class="pokemon-list w-75">
                        <div v-for="(pokemon, index) in pokemons" v-bind:key="index">
                            <div id="limit-offset" v-if="index < limit && index >= offset">
                                <div @click="showPokemon(pokemon.entry_number)" class="pokemon">
                                    <img class="pokemon-image-pokedex" :src='"https://raw.githubusercontent.com/msikma/pokesprite/master/pokemon-gen8/regular/" + pokemon.pokemon_species.name + ".png"' />
                                    <p>#{{ pokemon.entry_number }} {{ pokemon.pokemon_species.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TYPE
                <div class="pokemon-content" v-if="filter == 'type'">
                    <div class="info-card w-25">
                        {{ typeData.name }}
                    </div>
                    <div class="pokemon-list w-75">
                        <div v-for="(pokemon, index) in pokemons" v-bind:key="index">
                            <div id="limit-offset" v-if="index < limit && index >= offset ">
                                <div @click="showPokemon(pokemon.entry_number)" class="pokemon">
                                    <img class="pokemon-image-pokedex" :src='"https://raw.githubusercontent.com/msikma/pokesprite/master/pokemon-gen8/regular/" + pokemon.pokemon.name + ".png"' />
                                    <p>{{ pokemon.pokemon.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div v-if="pokemons" id="browser">
                <button :disabled="offset == 0" @click="previousPage()" class="btn btn-secondary"><- Previous</button>

                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ maxOnPage }}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><button :disabled="maxOnPage == 20" class="dropdown-item" @click="setMaxOnPage(20)">20</button></li>
                        <li><button :disabled="maxOnPage == 30" class="dropdown-item" @click="setMaxOnPage(30)">30</button></li>
                        <li><button :disabled="maxOnPage == 50" class="dropdown-item" @click="setMaxOnPage(50)">50</button></li>
                        <li><button :disabled="maxOnPage == 75" class="dropdown-item" @click="setMaxOnPage(75)">75</button></li>
                    </ul>
                </div>

                <button :disabled="limit > maxPages" @click="nextPage()" class="btn btn-secondary">Next -></button>
            </div>
        </div>

        <!-- POKEMON MODALS -->
        <div v-if="pokemon != ''" class="modal fade" id="pokedex-entry-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered d-flex flex-column justify-content-center" role="document">
                <div id="pokemon-nav" class="modal-content mb-2">
                    <div class="d-flex justify-content-between m-2">
                        <div v-if="pokemon.id-1 != 0">
                            <span @click="previousPokemon(pokemon.entry_number)" class="btn btn-secondary"><- Previous</span>
                            <img class="img-browser" :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + previousPokemonId + '.png'" />
                            <span>#{{ previousPokemonId }}</span>
                            <span>{{ pokemons[pokemon.entry_number - 2].pokemon_species.name }}</span>
                        </div>
                        <div v-else class="align-self-center">
                            <button class="btn btn-secondary" disabled><- Previous</button>
                        </div>
                        <div v-if="pokemon.id != pokemons.length">
                            <span>{{ pokemons[pokemon.entry_number].pokemon_species.name }}</span>
                            <span>#{{ nextPokemonId }}</span>
                            <img class="img-browser" :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + nextPokemonId + '.png'" />
                            <span @click="nextPokemon(pokemon.entry_number)" class="btn btn-secondary">Next -></span>
                        </div>
                        <div v-else class="align-self-center">
                            <button class="btn btn-secondary" disabled>Next -></button>
                        </div>
                    </div>
                </div>
                <div class="modal-content">
                    <div :id="'modal-' + pokemonFirstType()" class="modal-body py-lg-10 px-lg-10">
                        <div>
                            <div class="d-flex">
                                <table id="table-stats">
                                    <tr v-for="(stat, index) in pokemon.stats" v-bind:key="index" class="tr-stat">
                                        <td class="td-stat" style="width: 200px">
                                            {{ stat.stat.name }}:
                                        </td>
                                        <td class="td-stat" style="width: 100px">
                                            {{ stat.base_stat }}
                                        </td>
                                        <td class="td-stat" style="width: 255px; border: 1px solid #0000;">
                                            <div v-bind:style="{width: + stat.base_stat + 'px'}" :class="'stat stat-' + stat.stat.name"></div>
                                        </td>
                                        <td class="td-stat" style="width: 100px" class="text-end">
                                            max 255
                                        </td>
                                    </tr>
                                </table>
                                <div id="pokemon-card">
                                    <table style="width: 100%">
                                        <tr>
                                            <th>
                                                {{ pokemon.name }}
                                            </th>
                                            <th>
                                                #{{ pokemon.id }}
                                            </th>
                                        </tr>
                                    </table>
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100 pokemon-img" :src="'https://play.pokemonshowdown.com/sprites/ani/' + pokemon.name + '.gif'" alt="Normal">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100 pokemon-img" :src="'https://play.pokemonshowdown.com/sprites/ani-back/' + pokemon.name + '.gif'" alt="Normal Back">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100 pokemon-img" :src="'https://play.pokemonshowdown.com/sprites/ani-shiny/' + pokemon.name + '.gif'" alt="Shiny">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100 pokemon-img" :src="'https://play.pokemonshowdown.com/sprites/ani-back-shiny/' + pokemon.name + '.gif'" alt="Shiny">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    <div id="types">
                                        <div class="type" v-for="(type, index) in pokemon.types" v-bind:key="index">
                                            <span :class="'type ' + type.type.name"></span>
                                        </div>
                                    </div>
                                    <div :id="'abilities abilities-' + pokemonFirstType()">
                                        <div>abilities:</div>
                                        <span v-for="(ability, index) in pokemon.abilities" v-bind:key="index">
                                            {{ ability.ability.name }},
                                        </span>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button @click="showMoves()" class="btn btn-link">
                                                Moves
                                            </button>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse card">
                                <div class="card-body d-flex flex-wrap">
                                    <div v-for="(move, index) in pokemon.moves" class="card card-body w-25">
                                        {{ move.move.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ERROR -->
        <div class="modal fade" id="errorModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p id="error">{{ error }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAV -->
        <div class="offcanvas offcanvas-start scroll-y" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <div class="w-100 m-auto">
                    <!-- Section: Sidebar -->
                    <section>
                        <!-- Section: Filters -->
                        <section id="filters" data-auto-filter="true">
                            <h5 class="mb-4">Filters</h5>

                            <!-- Section: Condition -->
                            <section class="mb-4" data-filter="condition">
                                <h6 v-if="filter == 'none'" class="font-weight-bold mb-3 filter-title">No filter ✔️</h6>
                                <h6 v-else class="font-weight-bold mb-3 filter-title" @click="noFilter()">No filter</h6>

                                <h6 class="font-weight-bold mb-3">Regions</h6>

                                <div class="form-check mb-3" v-for="(region, index) in regions" v-bind:key="index + 'A'">
                                    <label v-if="region != regionData.name" @click="selectRegion(region)" class="filter-title form-check-label text-uppercase small text-muted" for="condition-checkbox">
                                    {{ region }}
                                </label>
                                    <label v-if="region == regionData.name" class="filter-title form-check-label text-uppercase small text-muted" for="condition-checkbox">
                                    {{ region }} ✔️
                                    </label>
                                </div>
                            </section>
                            <!-- Section: Condition -->
                        </section>
                        <!-- Section: Condition -->
                        <section class="mb-4" data-filter="condition">
                            <h6 class="font-weight-bold mb-3">Types</h6>

                            <div class="form-check mb-3" v-for="(type, index) in types" v-bind:key="index">
                                <label v-if="type != typeData.name" @click="selectType(type)" class="filter-title form-check-label text-uppercase small text-muted" for="condition-checkbox">
                                {{ type }}
                            </label>
                                <label v-if="type == typeData.name" class="filter-title form-check-label text-uppercase small text-muted" for="condition-checkbox">
                                {{ type }} ✔️
                            </label>
                        </section>
                        <!-- Section: Condition -->
                    </section>
                    </div>
                </div>
            </div>
        </div>
</body>

<script type="text/javascript" src="./src/js/main.js"></script>

</html>